@use "../utils/colors";
.gallery {
  background-color: colors.$blue;
  color: colors.$lightBeige;
  padding-top: 20px;

  &__header {
    text-align: center;
    font-size: 26px;
    padding-bottom: 20px;
  }
  &__img {
    width: 100%;
    display: block;
  }
}
